.form-container{
  border: 1 px solid  rgb(199, 199, 199);
  width: 400px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.form-group{
  background: none;
  display: block;
  margin: 20px auto;
  padding: 2px 10px;
  width: 300px;
  outline: none;
  color: black;
  transition: 0.25s;
}

.container input [type = "onclick"]{
  
}

.disabled-link{
  color:grey;
  text-decoration:underline;
  }